* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.front {
  text-align: center;
  background-color: orangered;
  /* height: 50px; */
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.truck i {
  left: 100px;
  /* align-items: center;
    justify-content: center; */
}
.log {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(25, 235, 25);
}

.menu {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 60px;
  padding: 0px 10px;
}

.menu i {
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 20px;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  text-align: center;
  gap: 7px;
}
.nav button{
  border-radius: 10px;
  padding: 10px;
  border: none;
  width: 100%;
}

.main-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  font-weight: bold;
  margin-left: 10px;
}

form input {
  padding: 15px 40px;
  padding-left: 20px;
  border: 1px solid lightgray;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 18px;
}

form button {
  padding: 18px 30px 10px 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background-color: rgb(25, 214, 25);
  font-size: 15px;
  transition: 0.5s;
}

form button:hover {
  background-color: orangered;
}
.nav li:hover {
  color: red;
  transition: 0.5s;
}
.nav li {
  font-weight: bold;
}
.icon ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  list-style: none;
  font-size: 30px;
  padding: 10px 0px;
  color: rgb(21, 252, 21);
  gap: 15px;
}

.icon ul li:hover {
  color: red;
  transition: 0.5s;
}
.fold h2{
  font-size: 15px;
}
.fold {
  font-size: 1px;
  border: 1px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 10px;
  background-color: gainsboro;
  border: none;
  font-size: 18px;
}
.fold:hover {
  background-color: green;
  transition: 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
}
.first-img{
    width: 100%;
    height:100%;
    display:flex;
}
.imge {
    width: 100%;
    height: 100%;
  transition: 1s;
  animation: source 10s infinite;
}
@keyframes source {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
.imge:hover {
  transform: scale(1.1);
}
span {
  color: green;
}
.button {
 border-radius: 10px;
 background-color: green;
}
.button:hover {
  background-color: orangered;
  transition: 0.5s;
}
.content {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}
.apple {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apple1 {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.apple2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}


.apple2 img {
  width: 220px;
  height: 100%;
  transition: 1s;
  background-color: #f5f5f5;
  overflow: hidden;
}

.apple2 img:hover {
  transform: scale(1.1);
}


.center {
  text-align: center;
}

.con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 20px;
}
li {
  text-align: center;
  justify-content: space-between;
  width: 50%;
}
.con li:hover {
  color: orangered;
  transition: 0.5s;
}
.furit-veg {
  width: 100px;
  height: 100px;
  color: yellowgreen;
}

.prduct-section {
  margin-bottom: 20px;
}

.box {
  border: solid 1px white;
  border-radius: 10%;
  padding: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.cart {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart1 {
  width: 88%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
}
.box {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
}
.images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
}
.images {
  width: 100%;
  height: 70%;
  display: flex;
  overflow: hidden;
}
.cont {
  width: 100%;
  height: 30%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cont1 h6 {
  font-size: 12px;
}
.cont span {
  width: 35px;
  height: 35px;
  background-color:orangered;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont span {
  color: black;
}
.cont span:hover {
  background-color: green;
  color: white;
  transition: 0.5s;
}
.cont1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 10px;
  font-size: 18px;
}
.yes img {
  width: 100%;
  height: 100%;
}
.car {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.car1 {
  /* width: 88%; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.car2 {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.car2 img {
  transition: 1s;
  height: 100%;
  width: 100%;
}
.car3 {
  width: 100%;
  height: 100%;
  gap: 10px;
}

.car2 {
  position: relative;
  display: inline-block;
}
.car2 img:hover {
  transform: scale(1.1);
}

.cart-info {
  color: white;
  font-size: 28px;
  width: 200px;
  position: absolute;
  top: 30%;
  bottom: 50%;
  left: 10%;
}

.cart-info p {
  margin-top: 10px;
}
.images {
  position: relative;
}
.but button {
  position: absolute;
  top: 5%;
  left: 5%;
}
.but button {
  border-radius: 9px;
  border: none;
  width: 50px ;
  background-color: green;
  color: whitesmoke;
  padding: 8px 7px;
}

.third {
  width: auto;
  /* height: 100%; */
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.third1 {
  width: 85%;
  height: 100%;
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: repeat(3,2fr);
  grid-gap: 10px;
}
.third2 {
  width:auto;
  height: 100%;
  background-color: #f7f7f7;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 18px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.third3 {
  display: flex;
  width: 100%;
  height: 100%;
}

.third3 img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.third4 i {
  font-size: 20px;
  position: absolute;
  top: 70%;
  left: 85%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: orangered;
  align-items: center;
  justify-content: center;
  display: flex;
}
.third4 i:hover {
  color: yellow;
}
.third5 h1 {
  position: absolute;
  left: 70%;
  font-size: 20px;
}
.im {
  width: 100%;
  height: 200px;
  object-fit: contain;
  position: relative;
  overflow: hidden;
}

.im2 {
  transition: 1s;
  overflow: hidden;
}
.third3:hover .im2 {
  transform: scale(1.1);
}
.im3 {
  transition: 1.5s;
}
.third3:hover .im3 {
  transform: scale(1.1);
}
.im4 {
  transition: 1s;
}
.third3:hover .im4 {
  transform: scale(1.1);
}
.images:hover img {
  transform: scale(1.1);
}
.but button::before {
  content: "";
  background-color: black;
  z-index: -1;
}
.but button:hover {
  color: red;
}
.button {
  padding: 10px 15px;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 20px;
  border: none;
}
.button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: orangered;
  top: 0;
  left: -100%;
  transition: 1s;
  z-index: -1;
}
.button:hover::before {
  left: 0;
}
.dot .im {
  width: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.dot:hover.im {
  transform: scale(1.1);
  position: absolute;
}

.ban {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.ban1 {
  width: 85%;
  height: 100%;
  display: flex;
  gap: 20px;
}
.ban2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.ban2 img {
  width: 100%;
  height: 100%;
  transition: 1s;
}

.ban2:hover img {
  transform: scale(1.1);
}
.ban3 {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  width: 250px;
}
.ban3 p span {
  font-size: 30px;
}
.ban3 p {
  font-size: 18px;
}
.dot img:hover {
  transform: scale(1.1);
}
.recent {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.recent h2 {
  font-size: 30px;
}
.recent h5 {
  font-size: 18px;
}
.write3 img {
  width: 100%;
  transition: 1s;
}
.write3:hover img {
  transform: scale(1.1);
}
.write {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
}
.write1 {
  width: 80%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
}
.write2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid white;
  border-radius: 30px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.write3 {
  width: 75%;
  height: 75%;
  overflow: hidden;
}
.peas {
  width: 100%;
  height: 40%;
  background-color: #f7f7f7;
}
.peas1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.last {
  margin-top: 180px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.last1 {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.last2 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}
.last2 h2 {
  color: green;
}
.last2 h1 {
  width: 500px;
  font-weight: 500;
}
.last2 p {
  width: 500px;
}
.last3 {
  width: 100%;
  overflow: hidden;
  animation: zoom 10s infinite;
}
.last3 img {
  height: 420px;
  transition: 0.5s;
}

@keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.1);
  }
}
.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  gap: 10px;
}
.last-content {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
 
}
.last-content1 {
  width: 85%;
  height: 100%;
  display: flex;
  gap: 20px;
}
.last-content2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
   position: relative;
}
.last-content2 img {
  width: 250px;
  height: 200px;
  transition: 1s;
}
.last-content3 {
  width:250px ;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  gap: 10px;
  padding: 20px;
  background-color: wheat;
}
.last-content2:hover.last-content2 img {
  transform: scale(1.1);
}
.ship {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  background-color: white;
}
.ship1 {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 80px;
}
.ship2 {
  /* width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column; */
}
.ship2  {
  width: 250px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f7f7f7;
  animation: ship 5s infinite;
  gap: 20px;
}
.ship2 i{
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color:wheat;


}
@keyframes ship {
  0% {
    transform: translate(50px, 20px);
    color: orangered;
  }
  25% {
    transform: translate(50px, 20px);
  }
  50% {
    transform: translate(50px, 20px);
    color: green;
  }
  75% {
    transform: translate(50px, 20px);
  }
  100% {
    transform: translate(50px, 20px);
    color: orangered;
  }
}
.ship2 div i {
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #f5f5f5;
  margin-left: 120px;
}
.ship2 div h2 {
  margin-left: 92px;
  margin-top: 10px;
  font-size: 20px;
}
.ship2 div p {
  margin-left: 80px;
}
.ship2 div i:hover {
  background-color: orangered;
  transition: 1s;
}
.last-footer {
  width: 100%;
  height: 600px;
  background-image: url(../images/Brown-University.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: whitesmoke;
  margin-top: 50px;
}
.last-footer1 {
  width: 90%;
  height: 100%;
}
.last-footer2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.last-footer4 h1 {
  font-size: 25px;
}
.last-footer3 img {
  width: 200px;
  height: auto;
}
.last-footer3 p {
  width: 350px;
}
.last-footer3 {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 550px;
  justify-content: center;
  gap: 35px;
  font-size: 18px;
}
.last-footer4 {
  width: 20%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}
.last-footer4 ul li {
  list-style: none;
  width: 100%;
}
.last-footer4 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.last-footer5 label {
  display: flex;
}
.last-footer4 h1:hover {
  color: orangered;
  transition: 0.5s;
}
.last-footer4 ul li:hover {
  color: orangered;
  transition: 0.5s;
}
.last-footer5 label input {
  padding: 10px 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.last-footer5 label button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: orangered;
  font-size: 18px;
  padding: 10px;
}
.last-footer5 label button:hover {
  background-color: green;
}

.last-footer5 {
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
}
.lest {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.last-footer6 {
  font-size: 30px;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
  animation: last 7s infinite;
}
.last-footer6 i:hover {
  color: orangered;
  transition: 1s;
}
@keyframes last {
  0% {
    /* transform: translate(50px, 20px); */
    color: white;
  }
  25% {
    /* transform: translate(50px, 20px); */
  }
  50% {
    /* transform: translate(50px, 20px); */
    color: black;
  }
  75% {
    /* transform: translate(50px, 20px); */
  }
  100% {
    /* transform: translate(50px, 20px); */
    color: white;
  }
}

@media screen and (max-width:600px) {
  body{
    width: 100vw;
    height:100vh;
    box-sizing: border-box;
    overflow-x: hidden;
   
  }
  .fie{
    width: 100%;
  }
  .main-bar{
    width:100%;
    flex-wrap: wrap;
  }
  .main-bar form{
    width: 100%;
  }
  .main-bar input{
    width: 70%;
  }
  .fold{
    width: auto;
  }
  .log{
    width: 100%;
  }
  .menu{
    width: 100%;
  }
  .nav{
    width: 100%;
  }
  .log{
    padding: 20px;
  }
  .nav{
    margin-top: 10px;
  }
  .cart-info p{
    width: 70%;
  }
  .text{
    width:auto;
    flex-wrap: wrap-reverse;
  }
  .imge{
    width: 300px;
    height: 300px;
  }
  .for{
    width: 100%;
    height: 100%;
  }
  .for p{
    width:200px;
  }
 .car{
  width: 100%;
  margin-top: 20px;
  padding: 20px;
 }
 .car1{
  flex-wrap: wrap-reverse;
 }
 .apple{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .apple1{
  flex-wrap: wrap;
 }
 .cart{
  width: auto;
  padding: 20px;
 }
 .cart1{
  grid-template-columns: max-content;
  width: 100%;
 }
 .third{
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .third1{
  grid-template-columns: repeat(1,1fr);
  width: 100%;

 }
 .third3 img{
  width: 100%;
 }
 .third5 h1{
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .ban{
  width: 100%;
  padding: 20px;
 }
 .ban1{
  flex-wrap: wrap;
 }
 .write{
  width: 100%;
  padding: 20px;
 }
 .write1{
  grid-template-columns: repeat(1,1fr);
  width: 100%;
 }
 .write2{
  width: 100%;
 }
 .last{
  width: 100%;
 }
 .last1{
  flex-wrap: wrap-reverse;
 }
 .last3 img{
  width: 100%;
  height: 300px;
 }
 .last2 h2{
  width: 100%;
 }
 .last h1{
  width: 100%;
 }
 .last p{
  width: 100%;
 }
 .last-content{
  width: 100%;
  overflow: hidden;
 }
 .last-content1{
  flex-wrap: wrap;
 }
 .last-content1 img{
  width: 200px;
  height: 200px;
 }
 .last-content3{
  width: 200px;
  height: 200px;
 }
 .last-content3 h1{
  font-size: 12px;
 }
 .ship{
  width: 100%;
 }
 .ship1{
  flex-direction: column;
  gap: 10px;
 }
 .car2 img{
  width: 100%;
  object-fit: contain;
 }
 .box{
  width: 100%;
  object-fit: contain;
 }
 .write3 img{
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .write1{
  width: 100%;
 }
 .peas{
  border-radius: 20px;
 }

 .peas1{
  margin-top: 20px;
  width: 100%;
  height: 10%;
 }
 .log{
  display: block;
 }
 .last-footer{
  width: auto;
  padding: 20px;
  height: auto;
  background-size: cover;
 }


.last-footer1{
  width: 100%;
}
.last-footer2{
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
.last-footer3{
  width:100%;
  justify-content: flex-start;
height: auto;

}
.last-footer5{
width: 100%;
align-items: flex-start;
}
.last-footer6{
  width:100%;
  margin: 0;
  justify-content:flex-start;
}

 .prduct-section{
  width: auto;
 }
 .last-footer4{
  width:100%;
  display: flex;
  flex-direction: column;
align-items: flex-start;

 }
 .prduct-section h5 h3 ul{
  width: 100%;
 }
 .last-footer4 ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.last-footer4 ul li{
  text-align: start;
}
 .con{
  width: auto;
 }
 .ban2 img{
  width: 100%;
  height: 200px;
 }
 .ban3 p{
  width: 67%;
 }
}
.for p{
  width: 100%;
}



