*{
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
h5{
    text-align: center;
    background-color: orangered;
    /* height: 50px; */
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.truck i {
    left: 100px;
    /* align-items: center;
    justify-content: center; */
}
.log{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(25, 235, 25);
    
}

.menu {
    display: flex;
    align-items: center;
    background-color: rgb(12, 124, 12) ;
    gap: 5px;
    height: 60px ;
    
    
}

.menu i {
    height: 20px;
}

.nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;

    text-align: center;
}

.main-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    font-weight: bold;
    margin-left: 10px;
}

form input {
    padding: 15px 40px;
    padding-left: 20px;
    border: 1px solid lightgray;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 18px;
}

form button {
    padding: 18px 30px 10px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background-color: rgb(25, 214, 25);;
    font-size: 15px;
    transition: .5s;
}


form button:hover {
    background-color: orangered;
}
.nav li:hover{
    color: red;
    transition: .5s;
}
.nav li{
    font-weight: bold;
}
.icon ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    list-style: none;
    font-size: 30px;
    padding: 10px 0px;
    color: rgb(21, 252, 21);
    gap: 15px;
    
    
}

.icon ul li:hover{
    color: red; 
    transition: .5s;
}
.fold{
    font-size: 15px;
    border: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 16px 40px;
    background-color: gainsboro;
    border: none;
    font-size: 18px;
    
}
.fold:hover{
    background-color: green;
    transition: .5s;
}

.text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
} 
span{
    color: green;
}
.button{
    
    padding: 15px 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(13, 196, 13);
    border: none;
}
.button:hover{
    background-color: orangered;
    transition: .5s;

}
.content{
    text-align: center;
    margin-bottom: 20px;
    
}
.photo{
    display: flex;
    height: 475px;
    justify-content: space-evenly;
}
.bot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
    
}